erp.alhennawy.net {
	encode gzip zstd
	root * /usr/share/caddy
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy same-origin
		X-Frame-Options DENY
	}
	@assets path /assets/*
	handle @assets {
		header Cache-Control "public, max-age=86400"
		file_server
	}
	handle {
		try_files {path} /index.html
		file_server
	}
}
